<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Stat</title>
</head>
<body>
    <h1>상태창!!</h1>

    <table th:object="${charactersDTO}" border="1">
        <tr>
            <td>이름</td>
            <td>
                <input type="text" th:value="${charactersDTO.characterName}" readonly>
            </td>
        </tr>
        <tr>
            <td>직업</td>
            <td>
                <input type="text" th:value="${charactersDTO.characterJob}" readonly>
            </td>
        </tr>
        <tr>
            <td>레벨</td>
            <td>
                <input type="text" th:value="${charactersDTO.level}" readonly>
            </td>
        </tr>
        <tr>
            <td>체력</td>
            <td>
                <input type="text" th:value="${charactersDTO.hp}" readonly>
            </td>
        </tr>
        <tr>
            <td>마나</td>
            <td>
                <input type="text" th:value="${charactersDTO.mp}" readonly>
            </td>
        </tr>
        <tr>
            <td>힘</td>
            <td>
                <input type="text" th:value="${charactersDTO.str}" readonly>
            </td>
        </tr>
        <tr>
            <td>민첩</td>
            <td>
                <input type="text" th:value="${charactersDTO.dex}" readonly>
            </td>
        </tr>
        <tr>
            <td>지능</td>
            <td>
                <input type="text" th:value="${charactersDTO.intelligence}" readonly>
            </td>
        </tr>
        <tr>
            <td>행운</td>
            <td>
                <input type="number" th:value="${charactersDTO.luk}" readonly>
            </td>
        </tr>
        <tr>
            <td>미분배포인트</td>
            <td>
                <input type="number" th:value="${charactersDTO.point}" readonly>
            </td>
        </tr>
    </table>
    <table border="1">
        <tr>
            <td>**화</td>
        </tr>
    </table>
</body>
</html>