<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" >
<head>
  <meta charset="UTF-8">
  <title>Stat</title>
</head>
<body>
<h1>스탯 저장</h1>

<form action="#" th:action="@{/characterForm}" th:object="${charactersDTO}" method="POST">
  <input type="hidden" id="novelNum" name="novelNum" th:value="${charactersDTO.novelNum}">

  <label for="characterName">이름 : </label>
  <input type="text" id="characterName" th:field="*{characterName}"><br><br>

  <label for="characterJob">직업 : </label>
  <input type="text" id="characterJob" th:field="*{characterJob}"><br><br>

  <input type="submit" value="submit">
</form>
</body>
</html>