<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function redirectToCharacterPage(novelNum) {
            // JavaScript를 사용하여 POST 방식으로 데이터 전송
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/characterList';

            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'novelNum';
            input.value = novelNum;

            form.appendChild(input);

            document.body.appendChild(form);
            form.submit();
        }

        function deleteNovel(novelNum) {
            // JavaScript를 사용하여 POST 방식으로 데이터 전송
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/deleteNovel';

            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'novelNum';
            input.value = novelNum;

            form.appendChild(input);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>
<body>
<h1>소설 목록</h1>
<table border="1">
    <tr>
        <th>소설 번호</th>
        <th>소설 제목</th>
        <th>작가</th>
        <th>선택</th>
        <th>제거</th>
    </tr>
    <tr th:each="n : ${novelList}">
        <td th:text="${n.novelNum}"></td>
        <td th:text="${n.novelTitle}"></td>
        <td th:text="${n.writer}"></td>
        <td>
            <!-- 버튼 클릭 시 JavaScript 함수 호출 -->
            <button type="button" th:onclick="'redirectToCharacterPage(\'' + ${n.novelNum} + '\')'">선택</button>
        </td>
        <td>
            <button type="button" th:onclick="'deleteNovel(\'' + ${n.novelNum} + '\')'">제거</button>
        </td>
    </tr>
</table>
</body>
</html>