<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.ChangeTimeMapper">
    <insert id="insertChangeTime" parameterType="ChangeTimeDTO">
        INSERT INTO ChangeTime (
        novelNum,
        characterName,
        time,
        detail
        ) VALUES (
        #{novelNum},
        #{characterName},
        #{time},
        #{detail}
        );
    </insert>

    <select id="selectChangeTime" resultType="ChangeTimeDTO">
        SELECT * FROM ChangeTime WHERE novelNum = #{novelNum} AND characterName = #{characterName} AND time = #{time};
    </select>

    <select id="selectChangeTimeList" resultType="ChangeTimeDTO">
        SELECT * FROM ChangeTime WHERE novelNum = #{novelNum} AND characterName = #{characterName};
    </select>
    
    <update id="updateChangeTime" parameterType="ChangeTimeDTO">
        UPDATE
            ChangeTime
        SET
            detail = #{detail}
        WHERE
            novelNum = #{novelNum} AND characterName = #{characterName} AND time = #{time};
    </update>

    <delete id="deleteChangeTime" >
        DELETE FROM ChangeTime WHERE novelNum = #{novelNum} AND characterName = #{characterName} AND time = #{time};
    </delete>
</mapper>