<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.ChangeStatMapper">
    <insert id="insertChangeStat" parameterType="ChangeStatDTO">
        INSERT INTO ChangeStat (
        changeCode,
        statCode,
        value
        ) VALUES (
        #{changeCode},
        #{statCode},
        #{value}
        );
    </insert>

    <select id="selectChangeStat" resultType="ChangeStatDTO">
        SELECT * FROM ChangeStat WHERE changeCode = #{changeCode} AND statCode = #{statCode};
    </select>

    <select id="selectChangeStatList" resultType="ChangeStatDTO">
        SELECT * FROM ChangeStat WHERE changeCode = #{changeCode} ;
    </select>
    
    <update id="updateChangeStat" parameterType="ChangeStatDTO">
        UPDATE
            ChangeStat
        SET
            value = #{value}
        WHERE
            changeCode = #{changeCode} AND statCode = #{statCode};
    </update>

    <delete id="deleteChangeStat" >
        DELETE FROM ChangeStat WHERE changeCode = #{changeCode} AND statCode = #{statCode};
    </delete>
</mapper>