<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.CharacterStatMapper">

    <select id="selectCharacterStatsByIds" resultType="CharacterStatDTO">
        SELECT * FROM characterStat WHERE episodeNum = #{episodeNum} AND characterNum = #{characterNum};
    </select>

    <select id="selectCharacterStatsResponse" parameterType="EpisodeCharacterDTO" resultType="StatResponseDTO">
        SELECT statName, `value` FROM CharacterStat c, Stat s WHERE episodeNum = #{episodeNum} AND characterNum = #{characterNum} AND c.statCode = s.statCode;
    </select>


    <insert id="insertCharacterStat" parameterType="CharacterStatDTO">
        INSERT INTO CharacterStat (episodeNum, characterNum, statCode, value) VALUES (#{episodeNum}, #{characterNum}, #{statCode}, #{value});
    </insert>

    <update id="updateCharacterStat" parameterType="CharacterStatDTO">
        UPDATE CharacterStat SET value = #{value} WHERE episodeNum = #{episodeNum} AND characterNum = #{characterNum} AND statCode = #{statCode};
    </update>

    <delete id="deleteCharacterStat" parameterType="CharacterStatDTO">
        DELETE FROM CharacterStat WHERE episodeNum = #{episodeNum} AND characterNum = #{characterNum} AND statCode = #{statCode};
    </delete>

    <delete id="deleteCharacterStatByEpisode">
        DELETE FROM CharacterStat WHERE  episodeNum = #{episodeNum} AND characterNum = #{characterNum};
    </delete>
</mapper>