<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.CharacterMapper">
    <insert id="insertCharacter" parameterType="CharacterDTO" useGeneratedKeys="true" keyProperty="characterNum">
        INSERT INTO `Character` (novelNum, characterName) VALUES (#{novelNum}, #{characterName});
    </insert>

    <select id="checkCharacterOwner">
        SELECT 1
        FROM `Character` c
                 JOIN Novel n ON c.novelNum = n.novelNum
        WHERE c.characterNum = #{characterNum} AND n.uuid = #{uuid};
    </select>

    <select id="selectCharacter" resultType="CharacterDTO">
        SELECT * FROM `Character` WHERE characterNum = #{characterNum};
    </select>


    <select id="selectCharacterList" resultType="CharacterDTO">
        SELECT * FROM `Character` WHERE novelNum = #{novelNum};
    </select>

    <select id="searchCharacterList" resultType="CharacterDTO">
        SELECT * FROM `Character` WHERE novelNum = #{novelNum} AND characterName LIKE CONCAT('%', #{search}, '%');
    </select>
    <update id="updateCharacter" parameterType="CharacterDTO">
        UPDATE `Character` SET novelNum = #{novelNum}, characterName = #{characterName} WHERE characterNum = #{characterNum};
    </update>

    <delete id="deleteCharacter">
        DELETE FROM `Character` WHERE characterNum = #{characterNum};
    </delete>

    <delete id="deleteCharacterList">
        DELETE FROM `Character` WHERE novelNum = #{novelNum};
    </delete>
</mapper>