<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.EquippedItemMapper">
    <select id="selectEquippedItemByIds" resultType="EquippedItemDTO">
        SELECT * FROM EquippedItem WHERE novelNum = #{novelNum} AND episodeNum = #{episodeNum} AND characterNum = #{characterNum} AND equipmentNum = #{equipmentNum};

    </select>

    <select id="selectEquippedItemsByIds" resultType="EquippedItemDTO">
        SELECT * FROM EquippedItem WHERE novelNum = #{novelNum} AND episodeNum = #{episodeNum} AND characterNum = #{characterNum};
    </select>

    <insert id="insertEquippedItem" parameterType="EquippedItemDTO">
        INSERT INTO EquippedItem (novelNum, episodeNum, characterNum, equipmentNum) VALUES (#{novelNum}, #{episodeNum}, #{characterNum}, #{equipmentNum});
    </insert>

    <delete id="deleteEquippedItem" parameterType="EquippedItemDTO">
        DELETE FROM EquippedItem WHERE novelNum = #{novelNum} AND episodeNum = #{episodeNum} AND characterNum = #{characterNum} AND equipmentNum = #{equipmentNum};
    </delete>
</mapper>