<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.EquipmentEffectMapper">
    <select id="selectEquipmentEffectByIds" resultType="EquipmentEffectDTO">
        SELECT * FROM EquipmentEffect WHERE equipmentNum = #{equipmentNum} AND statNum = #{statNum} AND statType = #{statType};
    </select>

    <select id="selectEquipmentEffectsByIds" resultType="EquipmentEffectDTO">
        SELECT * FROM EquipmentEffect WHERE equipmentNum = #{equipmentNum};
    </select>

    <insert id="insertEquipmentEffect" parameterType="EquipmentEffectDTO">
        INSERT INTO EquipmentEffect (equipmentNum, statNum, statType, statValue) VALUES (#{equipmentNum}, #{statNum}, #{statType}, #{statValue});
    </insert>

    <update id="updateEquipmentEffect" parameterType="EquipmentEffectDTO">
        UPDATE EquipmentEffect SET statValue = #{statValue} WHERE equipmentNum = #{equipmentNum} AND statNum = #{statNum} AND statType = #{statType};
    </update>

    <delete id="deleteEquipmentEffect" parameterType="EquipmentEffectDTO">
        DELETE FROM EquipmentEffect WHERE equipmentNum = #{equipmentNum} AND statNum = #{statNum} AND statType = #{statType};
    </delete>
</mapper>