<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.EquipmentMapper">
    <select id="selectEquipmentById" resultType="EquipmentDTO">
        SELECT * FROM Equipment WHERE equipmentNum = #{equipmentNum};
    </select>

    <select id="selectEquipmentsByIds" resultType="EquipmentDTO">
        SELECT * FROM Equipment
        WHERE
            equipmentNum IN
            <foreach collection="list" item="equipmentNum" separator=",">
                (#{equipmentNum})
            </foreach>
    </select>

    <select id="selectEquipmentsById" resultType="EquipmentDTO">
        SELECT * FROM Equipment WHERE novelNum = #{novelNum};
    </select>

    <select id="selectEquipmentsPageById" resultType="EquipmentDTO">
        SELECT * FROM Equipment WHERE novelNum = #{novelNum}
        LIMIT 20 OFFSET #{offset};
    </select>

    <select id="selectEquipmentsByName" resultType="EquipmentDTO">
        SELECT * FROM Equipment WHERE equipmentName = #{equipmentName} AND novelNum = #{novelNum};
    </select>

    <select id="checkEquipmentOwner" resultType="int">
        SELECT IFNULL((
                          SELECT 1
                          FROM Novel n, Equipment e
                          WHERE e.equipmentNum=#{equipmentNum} AND n.novelNum = e.novelNum AND n.uuid = #{uuid}
                          LIMIT 1
                      ), 0)
    </select>

    <insert id="insertEquipment" useGeneratedKeys="true" keyProperty="equipmentNum" parameterType="EquipmentDTO">
        INSERT INTO Equipment (novelNum, equipmentName, inform) VALUES (#{novelNum}, #{equipmentName}, #{inform});
    </insert>

    <update id="updateEquipment" parameterType="EquipmentDTO">
        UPDATE Equipment SET novelNum = #{novelNum}, equipmentName = #{equipmentName}, inform = #{inform} WHERE equipmentNum = #{equipmentNum};
    </update>

    <delete id="deleteEquipment" parameterType="EquipmentDTO">
        DELETE FROM Equipment WHERE equipmentNum = #{equipmentNum};
    </delete>
</mapper>