<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.FavoriteMapper">
    <insert id="addFavorite" parameterType="FavoriteDTO">
        INSERT INTO Favorite (uuid, targetType, targetId) VALUES (#{uuid}, #{targetType}, #{targetId});
    </insert>

    <delete id="removeFavorite" parameterType="FavoriteDTO">
        DELETE FROM Favorite WHERE uuid = #{uuid} and targetType = #{targetType} and targetId = #{targetId};
    </delete>

    <select id="getFavorite" parameterType="FavoriteDTO">
        SELECT * FROM Favorite WHERE uuid = #{uuid} AND targetType = #{targetType} AND targetId = #{targetId};
    </select>
</mapper>