<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.NovelMapper">
    <insert id="insertNovel" parameterType="NovelDTO">
        <!-- INSERT INTO baseStat (novelNum, novelTitle, titleAlias) VALUES (1, '최고의 소설', '최소'); -->
        INSERT INTO novelList (
        novelTitle,
        titleAlias
        ) VALUES (
        #{novelTitle},
        #{titleAlias}
        );
    </insert>

    <select id="selectAllNovel" resultType="NovelDTO">
        SELECT * From novelList;
    </select>

    <select id="selectNovelOne" resultType="NovelDTO">
        SELECT * FROM novelList WHERE novelNum = #{novelNum};
    </select>

    <select id="searchNovel" resultType="NovelDTO">
        SELECT * FROM novelList WHERE novelTitle LIKE CONCAT('%', #{search}, '%') OR titleAlias LIKE CONCAT('%', #{search}, '%');
    </select>

    <update id="updateNovel" parameterType="novelDTO">
        UPDATE
            novelList
        SET
            novelTitle = #{novelTitle},
            titleAlias = #{titleAlias}
        WHERE
            novelNum = #{novelNum};
    </update>

    <delete id="deleteNovel">
        DELETE FROM novelList WHERE novelNum = #{novelNum};
    </delete>
</mapper>