<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.NovelMapper">


    <select id="selectAllNovel" resultType="NovelWithFavoriteDTO">
        SELECT n.*,
               CASE WHEN f.targetId IS NULL THEN 0 ELSE 1 END AS isFavorite
        FROM novel n
                 LEFT JOIN favorite f
                           ON f.targetType = 'Novel'
                               AND f.uuid = #{uuid}
                               AND f.targetId = n.novelNum
        WHERE n.uuid = #{uuid}
        ORDER BY isFavorite DESC;
    </select>

    <select id="selectNovelById" resultType="NovelDTO">
        SELECT * FROM Novel WHERE novelNum = #{novelNum};
    </select>

    <select id="checkOwner" resultType="int">
        SELECT IFNULL((
            SELECT 1
            FROM Novel n
            WHERE n.novelNum = #{novelNum} AND n.uuid = #{uuid}
            LIMIT 1
                   ), 0)
    </select>

    <insert id="insertNovel" useGeneratedKeys="true" keyProperty="novelNum" parameterType="novelDTO">
        INSERT INTO Novel (novelTitle, uuid) VALUES (#{novelTitle}, #{uuid});
    </insert>

    <select id="searchNovel" resultType="NovelDTO">
        SELECT * FROM Novel WHERE novelTitle LIKE CONCAT('%', #{search}, '%');
    </select>

    <update id="updateNovel" parameterType="novelDTO">
        UPDATE Novel SET novelTitle = #{novelTitle}, uuid = #{uuid} WHERE novelNum = #{novelNum};
    </update>

    <delete id="deleteNovel">
        DELETE FROM Novel WHERE novelNum = #{novelNum};
    </delete>
</mapper>
