<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.NovelMapper">


    <select id="selectAllNovel" resultType="NovelDTO">
        SELECT * From novelList;
    </select>

    <select id="selectNovelById" resultType="NovelDTO">
        SELECT * FROM Novel WHERE novelNum = #{novelNum};
    </select>

    <insert id="insertNovel" parameterType="NovelDTO">
        INSERT INTO Novel (novelTitle, writer) VALUES (#{novelTitle}, #{writer});
    </insert>

    <select id="searchNovel" resultType="NovelDTO">
        SELECT * FROM novelList WHERE novelTitle LIKE CONCAT('%', #{search}, '%');
    </select>

    <update id="updateNovel" parameterType="novelDTO">
        UPDATE Novel SET novelTitle = #{novelTitle}, writer = #{writer} WHERE novelNum = #{novelNum};
    </update>

    <delete id="deleteNovel">
        DELETE FROM Novel WHERE novelNum = #{novelNum};
    </delete>
</mapper>
