<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.PermanentItemEffectMapper">
    <select id="selectPermanentItemEffectByIds" resultType="PermanentItemEffectDTO">
        SELECT * FROM PermanentItemEffect WHERE itemNum = #{itemNum} AND statNum = #{statNum} AND statType = #{statType};
    </select>

    <select id="selectPermanentItemEffectsByIds" resultType="PermanentItemEffectDTO">
        SELECT * FROM PermanentItemEffect WHERE itemNum = #{itemNum};
    </select>

    <insert id="insertPermanentItemEffect" parameterType="PermanentItemEffectDTO">
        INSERT INTO PermanentItemEffect (itemNum, statNum, statType, statValue) VALUES (#{itemNum}, #{statNum}, #{statType}, #{statValue});
    </insert>

    <update id="updatePermanentItemEffect" parameterType="PermanentItemEffectDTO">
        UPDATE PermanentItemEffect SET statValue = #{statValue} WHERE itemNum = #{itemNum} AND statNum = #{statNum} AND statType = #{statType};
    </update>

    <delete id="deletePermanentItemEffect" parameterType="PermanentItemEffectDTO">
        DELETE FROM PermanentItemEffect WHERE itemNum = #{itemNum} AND statNum = #{statNum} AND statType = #{statType};
    </delete>
</mapper>