<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novelcharacter.mapper.StatMapper">
    <insert id="insertStat" parameterType="StatDTO">
        INSERT INTO Stat (
        statName
        ) VALUES (
        #{statName}
        );
    </insert>

    <select id="selectStat" resultType="StatDTO">
        SELECT * FROM Stat WHERE statCode = #{statCode};
    </select>

    <update id="updateStat" parameterType="StatDTO">
        UPDATE
            Stat
        SET
            statName = #{statName}
        WHERE
            statCode = #{statCode};
    </update>

    <delete id="deleteStat" >
        DELETE FROM Stat WHERE statCode = #{statCode};
    </delete>
</mapper>